/* 话题列表页 */
.topic-list {
    padding: 10px;
    word-wrap: break-word;
    border-bottom: 1px solid #EEE;
}

.topic-list .info {
    width: 55px;
    float: left;
}

.topic-list .info > span {
    display: block;
    padding: 0 4px;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    color: #FFF;
    overflow: hidden;
}

.topic-list .info .glyphicon {
    margin-top: 3px;
}

.topic-list .info .comment {
    background-color: #d9534f;
}

.topic-list .info .commented {
    background-color: #5cb85c;
}

.topic-list .info .like {
    background-color: #f3f3f3;
    color: #999;
}

.topic-list .summary {
    margin-left: 75px;
}

.topic-list .summary h5 {
    font-size: 15px;
    margin-top: 0;
}

/* 话题详细页 */
.topic-post, .topic-comment, .post-comment {
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.topic-post, .topic-comment {
    border-bottom: 1px solid #DDD;
    position: relative;
}

.topic-title h3 {
    margin: 0 0 15px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #EEE;
}

.topic-cell {
    float: left;
    width: 44px;
    text-align: center;
}

.topic-main {
    margin-left: 64px;
}

.topic-like, .topic-hate, .topic-fav {
    display: block;
    color: #777;
}

.topic-like, .topic-hate {
    background-color: #f3f3f3;
    padding: 6px 6px 5px;
    border: 1px solid #DDD;
    border-bottom: 1px solid #CCC;
    cursor: pointer;
    font-size: 12px;
    text-align: right;
    line-height: 1;
    text-shadow: 0 1px 0 white;
    -webkit-box-shadow: inset 0 1px 0 white, 0 1px 2px #e3e3e3;
       -moz-box-shadow: inset 0 1px 0 white, 0 1px 2px #e3e3e3;
            box-shadow: inset 0 1px 0 white, 0 1px 2px #e3e3e3;
}

.topic-like:hover, .topic-hate:hover, .topic-fav:hover {
    text-decoration: none;
    border-color: #CCC;
    color: #428bca;
}

.topic-like > .num, .topic-hate > .num {
    display: block;
    margin-bottom: 6px;
    border-bottom: 1px solid #DDD;
    padding: 0 0 7px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}

.topic-hate, .topic-author {
    margin-top: 5px;
}

.topic-fav {
    margin-top: 10px;
}

.topic-fav > span {
    font-size: 24px;
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .topic-cell {
        float: right;
        margin: 0 0 10px 10px;
    }

    .topic-main {
        margin-left: 0;
    }
}

.topic-author {
    float: right;
    color: #999;
}

.topic-author .avatar-sm {
    margin: 0 10px 0 20px;
}

.topic-author h5 {
    margin-top: 0;
    margin-bottom: 2px;
}

.wmd-panel {
}

.wmd-button-bar {
    width: 100%;
    background-color: Silver;
}

.wmd-input {
    border-radius: 2px;
    margin-bottom: 15px;
}

.wmd-preview {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px dashed #ccc;
}

.wmd-button-row {
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 0px;
    height: 20px;
}

.wmd-spacer {
    width: 1px;
    height: 20px;
    margin-left: 14px;

    position: absolute;
    background-color: Silver;
    display: inline-block;
    list-style: none;
}

.wmd-button {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    position: absolute;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

.wmd-button > span {
    background-image: url(../images/wmd-buttons.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.wmd-spacer1 {
    left: 50px;
}

.wmd-spacer2 {
    left: 175px;
}

.wmd-spacer3 {
    left: 300px;
}

.wmd-prompt-background {
    background-color: Black;
}

.wmd-prompt-dialog {
    border: 1px solid #999999;
    background-color: #F5F5F5;
}

.wmd-prompt-dialog > div {
    font-size: 0.8em;
    font-family: arial, helvetica, sans-serif;
}

.wmd-prompt-dialog > form > input[type="text"] {
    border: 1px solid #999999;
    color: black;
}

.wmd-prompt-dialog > form > input[type="button"] {
    border: 1px solid #888888;
    font-family: trebuchet MS, helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
}