.grid-view-header, .grid-view-body, .grid-view-footer {
    margin-bottom: 20px;
}
.grid-view .pagination {
    margin: 0;
}
.grid-view .summary{
    padding: 6px 12px;
}
.grid-view label {
    margin: 0;
}
.form-action {
    margin: 20px 0 20px;
    padding-top: 15px;
    border-top: 1px solid #eee;
}